# ONLY FOR LOCAL DEVELOPMENT
version: "3"
services:
  redis:
    image: library/redis
    ports:
      - "127.0.0.1:6379:6379"
  minio:
    image: minio/minio
    command: "server --address 0.0.0.0:9000 --console-address :9001 /data"
    volumes:
      - /tmp/minio:/data
    ports:
      - "127.0.0.1:9000:9000"
    environment:
      - MINIO_ACCESS_KEY=karton-test-access
      - MINIO_SECRET_KEY=karton-test-key
  system:
    build:
      context: ..
    env_file:
      - karton-vars.env
    command:
      - "--setup-bucket"
    depends_on:
      - minio
      - redis
  gateway:
    build:
      context: ..
      dockerfile: dev/gateway.Dockerfile
    env_file:
      - karton-vars.env
    depends_on:
      - minio
      - redis
      - system
    ports:
      - "127.0.0.1:8000:8000"
  logger:
    build:
      context: ..
      dockerfile: dev/logger.Dockerfile
    env_file:
      - karton-vars.env
    depends_on:
      - system
