{% extends 'layout.html' %}
{% block content %}
<div class="bs-component" style="padding-top: 10px">
  <h3 class="text-center">analysis {{ analysis.rootid }}</h3>
  <dl class="row">
    <dt class="col-3">Xrefs</dt>
    <dd class="col-9">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        {% for label, link in xrefs %}
        <a href="{{link}}"
          class="btn btn-sm btn-secondary">
          {{label}}
        </a>
        {% endfor %}
      </div>
    </dd>
  </dl>
  <h4>Tasks</h4>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">identity</th>
        <th scope="col">task</th>
        <th scope="col">headers</th>
      </tr>
    </thead>
    <tbody>
      {% for identity, queue in analysis.pending_queues.items() %}
      <tr>
        <td colspan="3"><b>{{identity}}</b></td>
      </tr>
      {% for task in queue.pending_tasks %}
      <tr>
        <td>
          <a href="{{ url_for('dashboard.get_queue', queue_name=identity) }}">{{identity}}</a>
        </td>
        <td>
          <a href="{{ url_for('dashboard.get_task', task_id=task.uid) }}">{{ task.task_uid }}</a>
        </td>
        <td>
          {% if task.priority.value != 'normal' %}
          <span class="badge bg-dark">{{task.priority}}</span>
          {% endif %}
          <span class="badge bg-light">{{task.status}}</span>
          {% for hdrname, hdrval in task.headers.items() %}
          {% if hdrname == 'type' %}
          <span class="badge bg-primary">{{hdrname}}:{{hdrval}}</span>
          {% elif hdrname == 'kind' %}
          <span class="badge bg-info">{{hdrname}}:{{hdrval}}</span>
          {% elif hdrname == 'stage' %}
          <span class="badge bg-success">{{hdrname}}:{{hdrval}}</span>
          {% elif hdrname == 'receiver' %}
          {% else %}
          <span class="badge bg-secondary">{{hdrname}}:{{hdrval}}</span>
          {% endif %}
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
