{% extends 'layout.html' %}
{% block content %}
<div class="bs-component" style="padding-top: 10px">
  <h3 class="text-center">binds</h3>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">identity</th>
        <th scope="col">filters</th>
        <th scope="col">tasks</th>
        <th scope="col">errors</th>
        <th scope="col">replicas</th>
      </tr>
    </thead>
    <tbody>
      {% for (queue_name, queue) in queues|dictsort %}
      <tr>
        <td>
          <a href="{{url_for('get_queue', queue_name=queue_name)}}">{{ queue_name }}</a>
          <div>
            <span class="badge bg-info" title="karton-core library version">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
                <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
              </svg>
              v{{ queue.bind.version }}
            </span>
            {% if queue.bind.service_version %}
              <span class="badge bg-secondary" title="service package version">
                v{{ queue.bind.service_version }}
              </span>
            {% endif %}
            {% if not queue.bind.persistent %}
                <span class="badge bg-danger">non-persistent</span>
            {% endif %}
            {% if not queue.bind.info %}
                <span class="badge bg-danger">undocumented</span>
            {% endif %}
          </div>
        </td>
        <td>
          {% for filter in queue.bind.filters %}
          <div>
            {% for filtername, filterval in filter.items() %}
            {% if filtername == 'type' %}
            <span class="badge bg-primary">{{filtername}}:{{filterval}}</span>
            {% elif filtername == 'kind' %}
            <span class="badge bg-info">{{filtername}}:{{filterval}}</span>
            {% elif filtername == 'stage' %}
            <span class="badge bg-success">{{filtername}}:{{filterval}}</span>
            {% else %}
            <span class="badge bg-secondary">{{filtername}}:{{filterval}}</span>
            {% endif %}
            {% endfor %}
          </div>
          {% endfor %}
        </td>
        <td>
          {% set length = queue.pending_tasks %}
          {% if length == 0 %}
          <span class="badge bg-success">{{length}}</span>
          {% elif length < 25 %}
          <span class="badge bg-warning">{{length}}</span>
          {% else %}
          <span class="badge bg-danger">{{length}}</span>
          {% endif %}
        </td>
        <td>
          {% set length = queue.crashed_tasks %}
          {% set url = url_for('get_crashed_queue', queue_name=queue_name) %}
          {% set badgeClass = "bg-success" if length == 0 else "bg-danger" %}
          <span class="badge {{badgeClass}}">
              <a class="text-decoration-none" href={{url}} style="color: inherit">{{length}}</a>
          </span>
        </td>
        <td>
          {% if queue.active_consumers == 0 %}
          <span class="badge bg-danger">{{queue.active_consumers}}</span>
          {% else %}
          <span class="badge bg-success">{{queue.active_consumers}}</span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
