name: Release new Karton core version

on:
  release:
    types: [published]

jobs:
  release_pypi:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build package
      run: |
        pip3 install build
        python3 -m build
    - name: Publish to PyPi
      uses: pypa/gh-action-pypi-publish@v1.13.0
      with:
        user: __token__
        password: ${{ secrets.pypi_password }}
  release_dockerhub:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push the image
        uses: docker/build-push-action@v4
        with:
          tags: |
            certpl/karton-system:${{ github.sha }}
            certpl/karton-system:${{ github.event.release.tag_name }}
            certpl/karton-system:latest
          push: true
          # Flux v1 doesn't support OCI-compliant manifests
          provenance: false
          platforms: linux/arm64,linux/amd64
