name: Release new Karton core version

on:
  create:
    tags: 'v*.*.*'

jobs:
  release_pypi:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build package
      run: |
        pip3 install setuptools wheel
        python3 setup.py bdist_wheel
    - name: Publish to PyPi
      uses: pypa/gh-action-pypi-publish@v1.3.0
      with:
        user: __token__
        password: ${{ secrets.pypi_password }}
  release_dockerhub:
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Build and push the image
        uses: docker/build-push-action@v1.1.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          dockerfile: ./Dockerfile
          repository: certpl/karton-system
          tags:
            - ${{ github.sha }}
            # tag release
            - ${{ github.event.ref }}
            # docker's `latest` tag is really `default` and not latest
            - 'latest'
          push: ${{ github.event_name == 'push' }}
