name: Test the code
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: CERT-Polska/lint-python-action@v2
        with:
          source: karton/
  unittest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        minor: [8, 9, 10, 11]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: 3.${{ matrix.minor }}
      - run: pip install -r requirements.txt
      - run: python -m unittest discover
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ammaraskar/sphinx-action@master
        with:
          # Install karton package
          pre-build-command: pip install .
          docs-folder: "docs/"
