name: Test the code
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: 3.6
      - run: pip install isort==5.6.4 black==20.8b1 flake8==3.8.4 mypy==0.790
      - run: pip install -r requirements.txt
      - run: isort --check karton/
      - run: black --check karton/
      - run: flake8 karton/
      - run: mypy --namespace-packages karton/
  unittest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        minor: [6, 7, 8, 9]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: 3.${{ matrix.minor }}
      - run: pip install -r requirements.txt
      - run: python -m unittest discover
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ammaraskar/sphinx-action@master
        with:
          # Install karton package
          pre-build-command: pip install .
          docs-folder: "docs/"
